header.header
	.container
		.header__logo
			a(href="/").header__logo-hr
				img(src="/assets/img/logo.png").header__logo_hide-xs
				img(src="/assets/img/logo_min.png").header__logo_hide-xl
		.header__info
			.header__info-block
				.header__info-block__phone +7 (4822) 35-98-17 
				.header__info-block__info Центральный офис в Твери
			.header__info-block
				.header__info-block__phone +7 (4822) 58-52-92
				.header__info-block__info Торговый дом «Важная персона»
			.header__info-menu
				ul.header__info-menu__main
					each item in top_items
						li.header__info-menu__main-item
							a(href="#").header__info-menu__main-item-link= item
							- if(item == 'Помощь покупателю')
								ul.header__info-menu__main-sec
									each item in customer
										li.header__info-menu__main-item
											a(href="#").header__info-menu__main-item-link= item
		.header__user
			ul.header__user-nav
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("user")
						| user
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("like")
						| liked
				li.header__user-nav__item
					a(href="/").header__user-nav__item-link
						+use("shopping-cart")
						| basket
						sup.header__user-nav__item-basket 5
		.line.header__line
		.adapt__menu 
			include ../common/_adaptive_menu
			//a(href="javascript:void(0);").adapt__menu_icon
				.icon-bars
					span.icon-bar
					span.icon-bar
					span.icon-bar
			a(href="javascript:void(0);").adapt__search
				i.fa.fa_search_new
		ul.header__catalog_menu
			each item in items
				li.header__catalog_menu-item
					a(href="#").header__catalog_menu-item-link= item
					- if(item == 'Бренды')
						.header__catalog_menu_sub_block
							.header__catalog_menu_sub_block_item.menu_sub_block_item-first
								.header__catalog_menu_sub_wrapper
									h3 топ брендов
									ul
										each item in brands
											li
												a(href="")= item
									ul
										each item in brands_sec
											li
												a(href="")= item
							.header__catalog_menu_sub_block_item.menu_sub_block_item-second
								h3 общее
								ul
									li
										a(href="#") Все бренды
									li
										a(href="#") 0-9
									li
										a(href="#") A-Z
									li
										a(href="#") А-Я
							.header__catalog_menu_sub_block_item.menu_sub_block_item-third
								img(src="/assets/img/menu_brand.jpg")
					- if(item == 'Женское')
						.header__catalog_menu_sub_block
							.header__catalog_menu_sub_block_item.menu_sub_block_item-first
								.header__catalog_menu_sub_wrapper
									h3 Категории
									ul
										each item in menu
											li
												a(href="")= item
									ul
										each item in menu_sec
											li
												a(href="")= item
							.header__catalog_menu_sub_block_item.menu_sub_block_item-second
								h3 Топ брендов
								ul
									each item in top_brands
										li
											a(href="")= item
							.header__catalog_menu_sub_block_item.menu_sub_block_item-third
								img(src="/assets/img/menu_woman.jpg")
					- if(item == 'Распродажа')
						sup.sale до - 30%
		//.header__shadow.js-header-shadow
			.header__nav.header__nav_state_opened.js-nav-body
				.header__menu.header__nav_close
					.header__catalog_menu_wrap
						.header__nav-top.js-nav-top
							a.header__link.header__link_type_noauth(href='/login/?backurl=/catalog/search/')
								span Личный кабинет
						ul.header__catalog_menu
							each item in items
								li.header__catalog_menu-item: a(href="#").header__catalog_menu-item-link= item
									- if(item == 'Распродажа')
										sup.sale до - 30%
							li.header__catalog_menu-item.header__item_type_phone: a(href="tel:74822587586").header__catalog_menu-item-link
								| +7 4822 587 586

		.header__catalog_search
			#search.bx-searchtitle
				form(action='/catalog/')
					.bx-input-group
						input#title-search-input.bx-form-control(type='text', name='q', value='', autocomplete='off', placeholder='Поиск по каталогу')
						span.bx-input-group-btn
							button.btn.btn-default(type='submit', name='s')
								i.fa.fa_search_new
								| Найти по каталогу
							a(href="javascript:void(0);").close
								+use("close")
			.title-search-result(style='position: absolute; top: 30px; left: 0px;width: 100%;')
				.bx_searche
					.bx_item_block.others_result
						.bx_img_element
							.bx_image(style="background-image: url('/assets/img/search/search_1.jpg')")
						.bx_item_element
							a(href='#')
								b DKNY
								| Кожаное портмоне на молнии с прострочкой
						.bx_item_price
							| 25 000 Р
						div(style='clear:both;')
					.bx_item_block
						.bx_img_element
							.bx_image(style="background-image: url('/assets/img/search/search_2.jpg')")
						.bx_item_element
							a(href='#')
								b DKNY
								|  Сумка Gansevoort на цепочке
						.bx_item_price
							| 25 000 Р
						div(style='clear:both;')
					.bx_item_block
						.bx_img_element
							.bx_image(style="background-image: url('/assets/img/search/search_3.jpg')")
						.bx_item_element
							a(href='#')
								b DKNY
								|  Платье
						.bx_item_price
							| 25 000 Р
						div(style='clear:both;')
					.bx_item_block(style='min-height:0')
						.bx_img_element
						.bx_item_element
					.bx_item_block.all_result
						.bx_img_element
						.bx_item_element
							span.all_result_title
								a(href='#').primary__button Все результаты
						div(style='clear:both;')
//HEADER